<p id="notice"><%= notice %></p>

<p>
  <strong>Player:</strong>
  <%= @rushing.player %>
</p>

<p>
  <strong>Team:</strong>
  <%= @rushing.team %>
</p>

<p>
  <strong>Pos:</strong>
  <%= @rushing.pos %>
</p>

<p>
  <strong>Attg:</strong>
  <%= @rushing.attg %>
</p>

<p>
  <strong>Att:</strong>
  <%= @rushing.att %>
</p>

<p>
  <strong>Yrds:</strong>
  <%= @rushing.yrds %>
</p>

<p>
  <strong>Avg:</strong>
  <%= @rushing.avg %>
</p>

<p>
  <strong>Ydsg:</strong>
  <%= @rushing.ydsg %>
</p>

<p>
  <strong>Td:</strong>
  <%= @rushing.td %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @rushing.lng %>
</p>

<p>
  <strong>First:</strong>
  <%= @rushing.first %>
</p>

<p>
  <strong>Firstpercent:</strong>
  <%= @rushing.firstpercent %>
</p>

<p>
  <strong>Twentyplus:</strong>
  <%= @rushing.twentyplus %>
</p>

<p>
  <strong>Fortyplus:</strong>
  <%= @rushing.fortyplus %>
</p>

<p>
  <strong>Fum:</strong>
  <%= @rushing.fum %>
</p>

<%= link_to 'Edit', edit_rushing_path(@rushing) %> |
<%= link_to 'Back', rushings_path %>
